In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/3-statistics/bigmartsales.csv")
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df[['Item_MRP','Item_Outlet_Sales']].mean()

Item_MRP              140.992782
Item_Outlet_Sales    2181.288914
dtype: float64

In [4]:
df[['Item_MRP','Item_Outlet_Sales']].median()
#almost mean and median is same hence symmetric distribution

Item_MRP              143.0128
Item_Outlet_Sales    1794.3310
dtype: float64

In [5]:
df[['Item_MRP','Item_Outlet_Sales']].mode()
#if any event occur frequently then use mode

   Item_MRP  Item_Outlet_Sales
0  172.0422            958.752

In [6]:
df[['Item_MRP','Item_Outlet_Sales']].std()

Item_MRP               62.275067
Item_Outlet_Sales    1706.499616
dtype: float64

In [7]:
round(df[['Item_MRP','Item_Outlet_Sales']].var(),2)

Item_MRP                3878.18
Item_Outlet_Sales    2912140.94
dtype: float64

In [8]:
from scipy.stats import iqr
iqr(df[['Item_MRP','Item_Outlet_Sales']],axis=0)

array([  91.8172, 2267.049 ])

In [9]:
from scipy.stats import skew,kurtosis

In [10]:
#imp interview
#1st bussiness dicision is mean and median
#2nd variance and standard deviation
#3rd calculation of skewness
#kurtosis

In [11]:
kurtosis(df['Item_Outlet_Sales'],fisher=False)

4.614224991590342

In [12]:
kurtosis(df['Item_Outlet_Sales'],fisher=True)

1.6142249915903424

In [13]:
skew(df['Item_Outlet_Sales'])

1.177323353967637

In [14]:
#Z-Score
from scipy.stats import zscore
z=np.abs(zscore(df[['Item_MRP','Item_Outlet_Sales']]))

In [15]:
z

      Item_MRP  Item_Outlet_Sales
0     1.747454           0.910601
1     1.489023           1.018440
2     0.010040           0.049238
3     0.660050           0.849103
4     1.399220           0.695373
...        ...                ...
8518  1.180783           0.349915
8519  0.527301           0.956402
8520  0.897208           0.579100
8521  0.607977           0.196725
8522  1.052261           0.829594

[8523 rows x 2 columns]